# .bzrignore						-*-conf-unix-*-
*.annot
*.cmi
*.cmo
*.cma
*.cmx
*.cmxa
*.exe
*.com
.obj
.bzrignore
.os_type
.depend.ocaml
doc/
auto
.aux
# LaTeX
*.log
*.aux
*.nav
*.old.nav
*.out
*.pdf
*.snm
*.toc
# Tarballs & misc
*.tar.gz
.obj
biblio/
photo robot/
velena-branch/
110331telemb.flv
