body {
  background-color: #F4F4F4; 
  font-size: 13px;
  color: #000000;
  text-align: justify;
  margin-top: 10px;
}

/** LOGO **/
div.logo {
  width: 650px;
  padding-left: 12px;
  padding-right: 12px;
  height: 100px;
  color: #F33F00;
  font-size: 45px;
  font-weight: bold;
  background-color: #DEDEDE;
  background-image: url(logo.png);
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

/** FIN LOGO **/

/** NAVIGATION BAR **/
#nav {
  width: 650px;
  height: 2.9ex;
/*   width: 150; */
/*   float: left; */
  background-color: #F33F00;
  color: #030502;
  font: normal small Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left:  12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 3px;
}

#nav ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
#nav ul li {
  display: inline;
}

#nav ul li a {
/*   display: block; */
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: black;
  margin-right: 10px;
  border: 1px solid #DEDEDE;
  padding: 0.5ex 1em;
}

a.index {
  background-color: #36B2BA;
  color: black;
  padding: 3px;
}
	
a.index:hover {
  background-color: #F33F00;
  color: #36B2BA;
}
	
a.doc {
  background-color: #77C52F;
  color: black;
  padding: 3px;	
}
	
a.doc:hover {
  background-color: #F33F00;
  color: #77C52F;
}
	
a.download {
  background-color: #BA55D3;
  color: black;
/*   margin-left: 80px; */
  padding: 3px;	
}
	
a.download:hover {
  background-color: #F33F00;
  color: #BA55D3;
}
	
a.license {
  background-color: #edcf08;
  color: black;
/*   margin-left: 80px; */
  padding: 3px;	
}
	
a.license:hover {
  background-color: #F33F00;
  color: #edcf08;
}

/** END NAVIGATION BAR **/
	
/** PAGE CONTENT **/	

hr {
  background-color: #F33F00;
  width: 650;
}
	
div.main {
  width: 650px;
  color: #030502;
  background-color: #DEDEDE;
  /*border: 1px solid black;*/
  font: normal small Arial, Helvetica, sans-serif;
  font-size:13px;
  text-align:justify;
  padding: 12px;
  padding-top: 20px;
  margin: auto; /* On peut donc demander à ce que le block
                         soit centré avec "auto" */
}

hr.title_blue {
  margin-top: 0px;
  background-color: #36B2BA;
}
	
.title_blue{
  font-family: arial;
  font-size: 30px;
  font-weight: bold;
  color: #36B2BA;
  background-color: #686551;
  padding: 3px;
}

.title_green{
	font-family:arial;
	font-size:17px;
	font-weight:bold;
	color:#77C52F;
}

.title_rose{
	font-family:arial;
	font-size:17px;
	font-weight:bold;
	color:#BA55D3;
}

hr.title_yellow {
  margin-top: 0px;
  background-color: #edcf08;
}

.title_yellow {
  font-family:arial;
  font-size: 30px;
  font-weight:bold;
  color: #edcf08;
  background-color: #686551;
  padding: 3px;
}

a {
	font-weight:bold;
	color:#F33F00;
	text-decoration: none;
}
a:hover {
	font-weight:bold;
	color:black;
	text-decoration: none;
}

/** END PC **/

img.sf_logo {
  float: right;
}